// bower:less
@import "bower_components/bootstrap/less/bootstrap.less";
// endbower

@import "_variables";
@import "_header";

.browserupgrade {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

section {
  margin: @home-elements-margin 0;

  img {
    .img-responsive;
  }
}

nav {
  display: block;
  position: fixed;
  top: 0;
  width: 100%;
  opacity: 0;
  padding: 15px 0;
  box-shadow: @box-shadow;
  background-color: darken(@body-bg, 10%);
  z-index: 10;
  transition: opacity 0.5s;

  ul {
    margin: 0;
    padding: 0;
    list-style: none;

    > li {
      display: inline;
      font-size: @font-size-large;
      margin-right: 1em;

      &:first-child {
        border-right: 1px solid;
        margin-right: 1em;
        padding-right: 1em;
      }
    }
  }

  &.fixed {
    opacity: 1;
    transition: opacity 0.5s;
  }
}

.swiper-container {
  //width: 100%;
  //height: auto;
  //
  //iframe {
  //  display: block;
  //  margin: 0 auto;
  //}
  //.embed-responsive {
  //  max-width: 90%;
  //  margin: 0 auto;
  //}

  &.swiper-container-horizontal {
    padding-bottom: 115px;

    @media screen and (min-width: @screen-sm) {
      padding-bottom: 75px;
    }

    @media screen and (min-width: @screen-md) {
      padding-bottom: 50px;
    }

    > .swiper-pagination {
      bottom: 0;
    }
  }

  .swiper-pagination-bullet {
    height: auto;
    width: auto;
    font-size: 16px;
    color: #666;
    opacity: 1;
    background: transparent;
    border-radius: 3px;
    padding: 5px 10px;
  }

  .swiper-pagination-bullet-active {
    color: #ccc;
    border: 1px solid #ccc
  }

}

.parallax-window {
  min-height: 400px;
  background: transparent;
  box-shadow: @box-shadow inset;
}

//.fixed-element {
//  display: block;
//  height: 350px;
//  //width: 100%;
//  background-attachment: fixed;
//  background-size: cover;
//  background-position: 50% 50%;
//  margin: @home-elements-margin 0;
//  margin-left: -100%;
//  margin-right: -100%;
//
//  box-shadow: @box-shadow inset;
//
//  &:first-child {
//    margin-top: 0;
//  }
//}
//
//.parallax-element {
//  display: block;
//  height: 350px;
//  background-size: cover;
//  background-position: 50% 50%;
//  margin: @home-elements-margin 0;
//  margin-left: -100%;
//  margin-right: -100%;
//
//  box-shadow: @box-shadow inset;
//
//  &:first-child {
//    margin-top: 0;
//  }
//}

//#wrapper {
//  padding-top: @home-elements-margin;
//}

footer {
  margin: @navbar-margin-bottom*2 0 @navbar-margin-bottom;
}
